doctype html
html
	head
		title Puzzle Demo by Greg Friedman
		meta(http-equiv='content-type', content='text/html;charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/global.css?v=2015.04.01.1637')
		link(rel="stylesheet" href='/stylesheets/animate.css')
		link(type='text/css', rel='stylesheet', href='http://fast.fonts.com/cssapi/a1381365-3b76-418d-be06-6dd8913d422c.css?v=2014.11.02.1113')
		//Support HTML5 elements in IE8/7
		//[if lt IE 9]
			<script>
				document.createElement('header');
				document.createElement('nav');
				document.createElement('section');
				document.createElement('article');
				document.createElement('aside');
				document.createElement('footer');
			</script>
		//[endif]
		body.intro
			.main
				section.splash
					h1 Get your free prize
					h2 but first you have to solve this puzzle...
					.start-button Start
				section.windows
					.casement-window
						img(src='/img/casement.png')
					.jumble.touch
					.legend window
				.jumble-intro
			.wrap
				.instructions &lt;insert prize here&gt;
			script(src='/script/lib/respond.min.js')
			script(src='/script/lib/soundmanager2-nodebug-jsmin.js')
			script(data-main='/script/main' src='/script/lib/require.js')
